/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.mrgnbtm {
  margin-top: 20px;
}

.formmrgnbtm {
  margin-bottom: 20px;
}

.display-board {
  width: 100%;
  background-color: #f1f5f9;
  padding: 5%;
  border: 1px solid #dddddd;
}

.number {
  color: black;
  font-size: 75px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  width: 60%;
}

thead {
  background-color: #f1f5f9;
}

th, td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
